<%= render 'searches/search' %>
<div class="row">
  <div class="col-md-3">
    <%= render 'books/new', new_book: @new_book, user: @user %>
    <%= link_to "通知",  notifications_path %>
    <% unless @user.id == current_user.id %>
      <% if (current_user.following?(@user) && (@user.following?(current_user))) %>
        <% if @isRoom == true %>
          <%= link_to "チャットへ", room_path(@roomId) %>
        <% else %>
          <%= form_with model: @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value => @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-8 offset-md-1">
    <%= render 'books/list', all_books: @all_books %>
    <h4>投稿数の前日比・前週比</h4>
    <% count_set %>
    <table class="post_count_table">
      <tr>
        <th>今日の投稿数</th>
        <th>前日の投稿数</th>
        <th>前日比</th>
      </tr>
      <tr>
        <td><%= @today %></td>
        <td><%= @yesterday %></td>
        <td><%= @dod %></td>
      </tr>
    </table>
    <table class="post_count_table">
      <tr>
        <th>今週の投稿数</th>
        <th>先週の投稿数</th>
        <th>前週比</th>
      </tr>
      <tr>
        <td><%= @this %></td>
        <td><%= @last %></td>
        <td><%= @wow %></td>
      </tr>
    </table>
  </div>
</div>