<%= render 'searches/search' %>
<div class="row">
  <div class="col-md-3">
    <%= render 'books/new', new_book: @new_book, user: @user %>
  </div>
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@book.user.id) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %><br>
              <%= link_to @book.user.name, user_path(@book.user.id) %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-sm btn-danger" %></td>
          <% end %>
          <td>
            <div id="favorite_btn_<%= @book.id %>">
              <%= render partial: 'favorites/favorites-btn', locals: { book: @book} %>
            </div>
          </td>
          <td>
            <div id="comment_count_<%= @book.id %>">
              <%= render partial: 'book_comments/comment-count', locals: { book: @book} %>            
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="comment_btn_<%= @book.id %>">
      <%= render partial: 'book_comments/book-comment', locals: { book: @book, book_comment: @book_comment} %>
    </div>
  </div>
</div>