<% @entries.each do |e| %>
  <h5>
    <strong>
      <%= link_to e.user.name + "さん", user_path(e.user.id) %>
    </strong>
  </h5>
<% end %>

<hr>

<% if @messages.present? %>
  <% @messages.each do |m| %>
    <% if m.user == current_user %>
      <% pos = "right" %>
    <% else %>
      <% pos = "left" %>
    <% end %>
    <div class="chat-box <%=pos%>">
      <p class="message"><%= m.content %></p>
      <small><%= m.user.name %>・<%= m.created_at.strftime("%Y-%m-%d %H:%M")%></small>
      <br>
    </div>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_with model: @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 140 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>

